extends ./layout/index


block contenido
  main.container.mt-5 
    .row  
      .col-md-5 
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7 
        h1= pagina  
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloribus aliquam suscipit quas obcaecati! Doloremque laborum earum fugit veritatis eaque veniam, nihil temporibus soluta aspernatur, minima, iusto quam non quibusdam.Architecto ut rerum, tempore id laborum expedita omnis vitae corrupti. Quasi dolores temporibus eveniet labore ab id iste dolor pariatur placeat ad unde ipsam aliquid qui nam, corporis modi assumenda!
        
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos officiis sapiente exercitationem commodi, libero, quae cumque tempora repudiandae, non numquam itaque vero aliquid voluptate eius doloribus? Consectetur a magnam modi.Accusamus provident commodi fugit, delectus voluptas a perspiciatis quod voluptatem dolorem nesciunt eos possimus quae quas? Aspernatur voluptatibus mollitia doloribus, autem facere ut quasi illum! Deserunt voluptates dolor rerum asperiores!

        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos officia sequi, deleniti eius nulla aliquid adipisci facilis. Quae suscipit itaque dolorum id fuga? Magnam corporis, ad fugiat laborum quae eveniet.

  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reiciendis ipsa eum vel repellat perspiciatis, dolore perferendis libero est soluta doloribus qui possimus pariatu
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Mejores precios 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reiciendis ipsa eum vel repellat perspiciatis, dolore perferendis libero est soluta doloribus qui possimus pariatu
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reiciendis ipsa eum vel repellat perspiciatis, dolore perferendis libero est soluta doloribus qui possimus pariatu